<app-header></app-header>
<div class="page-wrapper" style="margin-top: 7%">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h5 class="text-primary">Master page For Knowledgebase</h5> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Add New Customer</li> -->
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                        <div class="card-body">
                        
                            <div class="form-body">

                                <h5 class="box-title m-t-40">Knowledge Base</h5>
                                <hr>
                                
                                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <div class="row">

                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                                      <label>Department<span>*</span></label>                                                          
                                                      <select (change)="onChangecategory($event.target.value)" formControlName="DepartmentName"   name="DepartmentName"   class="form-control custom-select">
                                                          <option value="">Please Choose One</option>
                                                      <option  *ngFor="let viewdepartment of viewdepartment$" value="{{viewdepartment.typId}}">{{viewdepartment.department}}</option>
                                                     
                                                     </select>
                                                      
                                                  </div>
                                                  </div>

                                                  <div class="col-md-6 ">
                                                      <div class="form-group">
                                                                    <label>Doctor<span>*</span></label>                                                          
                                                                    <select  name="Doctor" formControlName="Doctor"  class="form-control custom-select">
                                                                        <option value="">Please Choose One</option>
                                                                    <option *ngFor="let viewdepartment of viewdepartmentuser$"  value="{{viewdepartment.id}}">{{viewdepartment.department}}</option>
                                                                   
             
                                                                   </select>
                                                                   
                                                                </div>
                                                                </div>
                                    

                                                                <div class="col-md-6 ">
                                                                    <div class="form-group">
                                                                                  <label>Knowledge Base<span>*</span></label>                                                          
                                                                                  <select formControlName="Knowledge_base"  name="Knowledge_base"  class="form-control custom-select">
                                                                                      <option value="">Please Choose One</option>
                                                                                  <option *ngFor="let viewknowldgebasename of viewknowldgebasename$"  value="{{viewknowldgebasename.typId}}">{{viewknowldgebasename.knowldge}}</option>
                                                                                 </select>
                                                                                 
                                                                              </div>
                                                                              </div>
                                      <div class="col-md-6 ">
                                      <div class="form-group">
                                                    <label>Message<span>*</span></label>                                                          
                                                    <input type="text" formControlName="Message" name="Message" name="Calltype"   class="form-control" />
                                                    
                                                </div>
                                                </div>
                                                
                                                <div class="col-md-6 "></div>
                                             
                                                <div class="col-md-6 " *ngIf="iscalltypebutton" >
                                                    <div class="form-actions">
                                                        <button [disabled]="registerForm.pristine || registerForm.invalid" class="btn btn-primary" style="margin: 8px;">Create</button>
                                                        <button (click)="cancel_form()" type="button" class="btn btn-inverse">Cancel</button>
                                                    </div>
                                                    </div>

                                                    <div class="col-md-6 " *ngIf="iscalltypeupdatebutton" >
                                                        <div class="form-actions">
                                                            <button [disabled]="registerForm.pristine || registerForm.invalid" class="btn btn-primary" style="margin: 8px;">Update</button>
                                                            <button (click)="cancel_form()" type="button" class="btn btn-inverse">Cancel</button>
                                                        </div>
                                                        </div>

                                            
                                            
                                        
                                    </div></form>

                                     <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body" style="padding: 0px;">
                                                    <div class="table-responsive m-t-40">
                                                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                            <thead>
                                                                     <tr>
                                                                      <th>Sl No</th>
                                                                      <th>Department</th>
                                                                      <th>Doctor Name</th>
                                                                      <th>Knowledge base</th>
                                                                      <th></th>
                                                                      <th></th>
                                                                      </tr>
                                                            </thead>
                                                            
                                                            <tbody> 
                                                                                         <tr *ngFor="let viewknowldgebasemaster of viewknowldgebasemaster$" >
                                                                                            <td>{{viewknowldgebasemaster.sl}}</td>
                                                                                            <td>{{viewknowldgebasemaster.departname}}</td>
                                                                                            <td>{{viewknowldgebasemaster.depuser_name}}</td>
                                                                                            <td>{{viewknowldgebasemaster.knowldge}}</td>
                                                                                            <td (click)="editviewkm(viewknowldgebasemaster.typId)" style="cursor:pointer">Edit</td>
                                                                                            <td (click)="deletetype(viewknowldgebasemaster.typId)" style="cursor:pointer">Delete</td>
                                                                                            
                                                                                        </tr>

                                                                                       
                                                                                       
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                        </div>
                                    </div>

                            

                                </div>
                    </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-content" (click)="msgclose()" *ngIf="msgview" >
                <div class="alert alert-primary alert-dismissible fade show">
                    <button type="button" class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{msg}}</strong> 
                </div>
            </div>
        </div>
      

