<app-header></app-header>
<div class="page-wrapper" style="margin-top: 7%">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h5 class="text-primary">Master page For Knowledgebase</h5> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Add New Customer</li> -->
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                        <div class="card-body">
                        
                            <div class="form-body">

                                <h5 class="box-title m-t-40">Knowledge Base</h5>
                                <hr>
                                
                                <form >
                                <div class="row">

                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                                      <label>Department<span>*</span></label>                                                          
                                                      <select  name="Individual_sevan"  class="form-control custom-select">
                                                          <option value="">Please Choose One</option>
                                                      <option  value="department1">department1</option>
                                                      <option  value="department2">department2</option>
                                                      <option  value="department2">department2</option>
                                                     </select>
                                                      
                                                  </div>
                                                  </div>

                                                  <div class="col-md-6 ">
                                                      <div class="form-group">
                                                                    <label>Doctor<span>*</span></label>                                                          
                                                                    <select  name="Individual_sevan"  class="form-control custom-select">
                                                                        <option value="">Please Choose One</option>
                                                                    <option  value="Doctor1">Doctor1</option>
                                                                    <option  value="Doctor2">Doctor2</option>
                                                                    <option  value="Doctor3">Doctor3</option>
                                                                    <option  value="Doctor4">Doctor4</option>
                                                                    
                                                                   </select>
                                                                   
                                                                </div>
                                                                </div>
                                    

                                                                <div class="col-md-6 ">
                                                                    <div class="form-group">
                                                                                  <label>Reason<span>*</span></label>                                                          
                                                                                  <select  name="Individual_sevan"  class="form-control custom-select">
                                                                                      <option value="">Please Choose One</option>
                                                                                  <option  value="Doctor1">Doctor Note</option>
                                                                                  <option  value="Doctor2">Insurance/Billing</option>
                                                                                  <option  value="Doctor3">Promo</option>
                                                                                  <option  value="Doctor4">Doctor Booking Instructions</option>
                                                                                  
                                                                                 </select>
                                                                                 
                                                                              </div>
                                                                              </div>
                                      <div class="col-md-6 ">
                                      <div class="form-group">
                                                    <label>Message<span>*</span></label>                                                          
                                                    <input type="text" name="Calltype"   class="form-control" />
                                                    
                                                </div>
                                                </div>
                                                
                                                <div class="col-md-6 "></div>
                                             
                                                <div class="col-md-6 " >
                                                <div class="form-actions">
                                                    <button class="btn btn-primary" style="margin: 8px;">Create</button>
                                                    <button  type="button" class="btn btn-inverse">Cancel</button>
                                                </div>
                                                </div>

                                            
                                            
                                        
                                    </div></form>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body" style="padding: 0px;">
                                                    <div class="table-responsive m-t-40">
                                                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                            <thead>
                                                                     <tr>
                                                                      <th>Sl No</th>
                                                                      <th>Department</th>
                                                                      <th>Doctor Name</th>
                                                                      <th>Knowledge base</th>
                                                                      <th></th>
                                                                      <th></th>
                                                                      </tr>
                                                            </thead>
                                                            
                                                            <tbody> 
                                                                                         <tr >
                                                                                            <td>1</td>
                                                                                            <td>Department1</td>
                                                                                            <td>Doctor1</td>
                                                                                            <td>Doctor Note</td>
                                                                                            <td style="cursor:pointer">Edit</td>
                                                                                            <td style="cursor:pointer">Delete</td>
                                                                                            
                                                                                        </tr>

                                                                                        <tr >
                                                                                            <td>2</td>
                                                                                            <td>Department2</td>
                                                                                            <td>Doctor2</td>
                                                                                            <td>Insurance/Billing</td>
                                                                                            <td style="cursor:pointer">Edit</td>
                                                                                            <td style="cursor:pointer">Delete</td>
                                                                                            
                                                                                        </tr>
                                                                                        <tr >
                                                                                            <td>3</td>
                                                                                            <td>Department3</td>
                                                                                            <td>Doctor3</td>
                                                                                            <td>Promo</td>
                                                                                            <td style="cursor:pointer">Edit</td>
                                                                                            <td style="cursor:pointer">Delete</td>
                                                                                            
                                                                                        </tr>
                                                                                       
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                        </div>
                                    </div>

                            

                                </div>
                    </div>
                        </div>

                    </div>
                </div>
            </div>

        

           

           
        </div>
      

