<app-header></app-header>
<div class="page-wrapper" style="margin-top: 7%">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h5 class="text-primary">Master page For Call Note</h5> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Add New Customer</li> -->
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                        <div class="card-body">
                        
                            <div class="form-body">

                                <h5 class="box-title m-t-40">Call Reason</h5>
                                <hr>
                                
                                <form >
                                <div class="row">
                                    
                                      <div class="col-md-6 ">
                                      <div class="form-group">
                                                    <label>Call Reason<span>*</span></label>                                                          
                                                    <input type="text" name="Calltype"   class="form-control" />
                                                    
                                                </div>
                                                </div>
                                                
                                                <div class="col-md-6 "></div>
                                             
                                                <div class="col-md-6 " >
                                                <div class="form-actions">
                                                    <button class="btn btn-primary" style="margin: 8px;">Create</button>
                                                    <button  type="button" class="btn btn-inverse">Cancel</button>
                                                </div>
                                                </div>

                                            
                                            
                                        
                                    </div></form>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body" style="padding: 0px;">
                                                    <div class="table-responsive m-t-40">
                                                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                            <thead>
                                                                     <tr>
                                                                      <th style="width: 16%;">Sl No</th>
                                                                      <th style="width: 80%;">Call Reason</th>
                                                                      <th></th>
                                                                      <th></th>
                                                                      </tr>
                                                            </thead>
                                                            
                                                            <tbody> 
                                                                                         <tr >
                                                                                            <td>1</td>
                                                                                            <td>Appointment</td>
                                                                                            <td style="cursor:pointer">Edit</td>
                                                                                            <td style="cursor:pointer">Delete</td>
                                                                                            
                                                                                        </tr>

                                                                                        <tr >
                                                                                            <td>2</td>
                                                                                            <td>Cancellation</td>
                                                                                            <td style="cursor:pointer">Edit</td>
                                                                                            <td style="cursor:pointer">Delete</td>
                                                                                            
                                                                                        </tr>
                                                                                       
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                        </div>
                                    </div>

                            

                                </div>
                    </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                        <div class="card-body">
                        
                            <div class="form-body">

                                <h5 class="box-title m-t-40">Call Status</h5>
                                <hr>
                                
                                <form >
                                <div class="row">
                                    
                                      <div class="col-md-6 ">
                                      <div class="form-group">
                                                    <label>Call Status<span>*</span></label>                                                          
                                                    <input type="text" name="callreason"  class="form-control" />
                                                   
                                                </div>
                                                </div>
                                                
                                                <div class="col-md-6 "></div>
                                             
                                                <div class="col-md-6" >
                                                <div class="form-actions">
                                                    <button  class="btn btn-primary" style="margin: 8px;">Create</button>
                                                    <button  type="button" class="btn btn-inverse">Cancel</button>
                                                </div>
                                                </div>

                                               
                                            
                                        
                                    </div></form>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body" style="padding: 0px;">
                                                    <div class="table-responsive m-t-40">
                                                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                            <thead>
                                                                     <tr>
                                                                      <th style="width: 16%;">Sl No</th>
                                                                      <th style="width: 80%;">Call Status</th>
                                                                      <th></th>
                                                                      <th></th>
                                                                      </tr>
                                                            </thead>
                                                            
                                                            <tbody> 
                                                                      <tr>
                                                                                            <td>1</td>
                                                                                            <td>Followup</td>
                                                                                            <td  style="cursor:pointer">Edit</td>
                                                                                            <td  style="cursor:pointer">Delete</td>
                                                                                            
                                                                     </tr>

                                                                     <tr>
                                                                        <td>2</td>
                                                                        <td>Open</td>
                                                                        <td  style="cursor:pointer">Edit</td>
                                                                        <td  style="cursor:pointer">Delete</td>
                                                                        
                                                                   </tr>
                                                                   <tr>
                                                                      <td>2</td>
                                                                      <td>Close</td>
                                                                      <td  style="cursor:pointer">Edit</td>
                                                                      <td  style="cursor:pointer">Delete</td>
                                                                      
                                                                 </tr>
                                                                                       
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                        </div>
                                    </div>

                                </div>
                    </div>
                        </div>

                    </div>
                </div>
            </div>

           

           
        </div>
      

